@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: roboto, sans-serif;
}

a {
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.header_parent {
  width: 100%;
  position: relative;
  top: 0;
  background-color: rgb(58, 4, 4);
}
.header_child {
  position: absolute;
  left: 0;
}
.header_child2 {
  width: 30vh;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 25px;
}
.header_child3 {
  width: 5;
  position: absolute;
  right: 0;
  padding: 26px 0 0 415px;
}
.owner {
  width: 100vh;
  font-size: 25px;
  font-weight: 400;
}
.arrow {
  width: 25%;
  position: relative;
}
.Arr {
  width: 25%;
  margin: 600px 340px;
}
.logo {
  width: 7%;
  padding: 0 1px;
  margin: 0;
}
